p {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#introduction {
    color: black;
    margin-top: 9px;
    margin-bottom: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    text-align: center;
}

.passions {
    color: chocolate;
}

body {
    background-color: blanchedalmond; 
    font-family: sans-serif;
}

img {
    border-radius: 8px;
    width: 100px;
    border: 3px;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(47, 4, 239, 0.572);
    border-radius: 9px;
    border-width: 0px;
    padding: 15px;
    

}

#projects {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    border-width: 0px;
    padding: 15px;
    
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}


button:hover {
    background-color: rgb(102, 102, 102);
}

.project-card {
    text-align: center;
    width: 400px;
    height: 400px;
    color: black;
    font-family: cursive;
    background-color: azure;
    border-radius: 20px;
    padding: 25px;
}

.project-card:hover {
    background-color: rgba(153, 154, 164, 0.526);
}

.project-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.project-time {
    text-align: left;
    color: darkcyan;
}

#back-btn {
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 8px;

    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}